services:
  openclaw-gateway:
    build:
      context: .
      dockerfile: Dockerfile.custom
      args:
        OPENCLAW_DOCKER_APT_PACKAGES: ${OPENCLAW_DOCKER_APT_PACKAGES}
    environment:
      BRAVE_API_KEY: ${BRAVE_API_KEY}
      OPENCLAW_BROWSER_EXECUTABLE_PATH: "/usr/bin/chromium"
      OPENCLAW_BROWSER_HEADLESS: "true"
      OPENCLAW_BROWSER_NO_SANDBOX: "true"
      TZ: Europe/Istanbul
    pull_policy: never

  openclaw-cli:
    build:
      context: .
      dockerfile: Dockerfile.custom
      args:
        OPENCLAW_DOCKER_APT_PACKAGES: ${OPENCLAW_DOCKER_APT_PACKAGES}
    environment:
      TZ: Europe/Istanbul
    pull_policy: never
